.header {
    background: rgb(1, 222, 1);
    height: 100px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px 0 60px;
}

.logo2 {
    color: white;
}

.navbar {
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}