* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #eff0ef;
    color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

header {
    background: rgb(143, 255, 102);
    padding: 40px 85px;
    display: flex;
    justify-content: space-between;
    gap: 85px;
}
.logo {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;
    color: rgb(1, 38, 3);
}

nav{
    display: flex;
    gap: 30px;
    align-items: center;
}


nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: Cardo;
    font-size: 20px;
}

nav a:hover {
    color: #ca9c5b;
}



.footer-box {
    background: rgb(28, 28, 28);
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 45px 90px; 
    margin-top: 60px;

    .logo{
        color: white;
    }
}

.parent-logo{
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
}

.parent-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;


}
.nav1{
    margin-top: 20px;
    
    a{
        color: #ffffff;
        text-decoration: none;
        font-family: Cardo;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

        
    a:hover {
        color: #ca9c5b;
    }
}

