<div class="footer">
    <div class="nav">
        <div class="logo">
            <h1 class="logo2">ProductMarket</h1>
        </div>

        <div class="navbar">
            <h1>Navidations</h1>
            <a href="#">Home</a>
            <a href="#">Cotalog</a>
            <a href="#">About</a>
            <a href="#">Contacts</a>
        </div>
        
        <div class="contacts">
            <h1>Contacts</h1>
            <p>996 755 201 208</p>
            <p>pupsik</p>
            <p>baty@gmil.com</p>
        </div>
        
    </div>
</div>