<footer>
    <div class="footer-box">

        <div class='parent-logo'>
            <div class="logo">ProductMarket</div>
            <p>магазин продуктов. быстро и вкусно!</p>
        </div>

        <div class="parent-nav">
            <div class="nav1">
                <h3>Навигация</h3>
                <a href="/">Главная</a>
                <a href="/catalog/">Каталог</a>
            </div>
            
            <div class="nav2">
                <h3>Контакты</h3>
                <p>Бишкек</p>
                <p>+996 700 000 000</p>
            </div>
        </div>

    </div>
</footer>