<div class="footer">

    <div class="footer-content">

        <div class="footer-logo">
            <h1>ProductMarket</h1>
        </div>

        <div class="footer-navigation">
            <h2>Navigations</h2>

            <a href="/">Home</a>
            <a href="#">Catalog</a>
            <a href="#">About</a>
            <a href="#">Contacts</a>
        </div>

        <div class="contacts">
            <h2>Contacts</h2>

            <p>996 755 201 208</p>
            <p>pupsik</p>
            <p>baty@gmail.com</p>
        </div>

    </div>

</div>